html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F19A82;
  font-family: Roboto Condensed;
  font-weight: 700;
  letter-spacing: 4px;
}

main {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

a. hover {
  text-decoration: underline;
}

p {
  color: #d2623d;
}

#wrapper {
  width: 400px;
  height: 400px;
  margin: 0;
  padding: 30px;
  padding-left: 40px;
  padding-top: 40px;
  font-size: 30px;
  text-transform: uppercase;
  font-style: italic;
  color: #B9AA8E;
  background-color: white;
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
#wrapper p {
  margin: 0;
  flex: 1;
}
#wrapper a {
  margin: 0;
  font-style: normal;
  color: #2a2931;
}
#wrapper.hover a {
  color: #5E7D7E;
}

#wrapper a:hover{
  text-decoration: line-through;
  color: #5E7D7E;
}
